
body
{
    background-image: url('purple-bg.png');
}

.gallery
{
    margin: 5vh auto;
    width: 60%;
    min-width: 300px;
    max-width: 810px;
    overflow: auto;
}

.nav
{
    margin: 0 1% 0 0;
    width: 29%;
    float: left;
    display: none;
    background-color: rgb(230, 230, 255);
}

figure
{
    margin: 0;
    padding: 5% 0;
    float: left;
    width: 70%;
    background-color: rgb(240, 240, 245);
}

label
{
    width: 95%;
    border-bottom: 1px solid rgb(204, 204, 255);
    display: block;
    padding: 15px 0 15px 5%;
}

.gallery-image
{
    max-width: 85%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

input
{
    display: none;
}

#img1:checked ~ main img:not(.img1),
#img2:checked ~ main img:not(.img2),
#img3:checked ~ main img:not(.img3),
#img4:checked ~ main img:not(.img4)
{
    display: none;
}

#img1:checked ~ main label.img1,
#img2:checked ~ main label.img2,
#img3:checked ~ main label.img3,
#img4:checked ~ main label.img4
{
    background-color: rgb(204, 204, 255);
}
